[submodule "libuvc-source"]
	path = libuvc-source
	url = git@github.com:pupil-labs/libuvc.git
[submodule "libusb-source"]
	path = libusb-source
	url = git@github.com:pupil-labs/libusb.git
	branch = pl-fixes
